<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>
    <profile>
	  <id>smartweb</id>
      <repositories>
        <repository>
          <id>smartweb</id>
          <name>SmartWeb Repo Internal</name>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <url>http://smartweb.nazwa.pl:8080/repository/internal</url>
          <layout>default</layout>
        </repository>
		<repository>
          <id>smartweb-releases</id>
          <name>SmartWeb Repo Releases</name>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <url>http://smartweb.nazwa.pl:8080/repository/releases</url>
          <layout>default</layout>
        </repository>
		<repository>
          <id>smartweb-snapshots</id>
          <name>SmartWeb Repo Snapshots</name>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <url>http://smartweb.nazwa.pl:8080/repository/snapshots</url>
          <layout>default</layout>
        </repository>
		<repository>
          <id>smartweb-thirdparty</id>
          <name>SmartWeb Repo Thridparty</name>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
          <url>http://smartweb.nazwa.pl:8080/repository/third-party</url>
          <layout>default</layout>
        </repository>
		<repository>
			<id>central</id>
			<url>https://repo1.maven.org/maven2</url>
			<releases>
				<enabled>true</enabled>
			</releases>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</repository>    
      </repositories>
	  <pluginRepositories>
		<pluginRepository>
			<id>central</id>
			<url>https://repo1.maven.org/maven2</url>
			<releases>
				<enabled>true</enabled>
			</releases>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</pluginRepository>
		<pluginRepository>
			<id>smartweb</id>
			<url>http://smartweb.nazwa.pl:8080/repository/internal</url>
			<releases>
				<enabled>true</enabled>
			</releases>
			<snapshots>
				<enabled>true</enabled>
			</snapshots>
		</pluginRepository>
		<pluginRepository>
          <id>smartweb-releases</id>
          <name>SmartWeb Repo Releases</name>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <url>http://smartweb.nazwa.pl:8080/repository/releases</url>
        </pluginRepository>
		<pluginRepository>
          <id>smartweb-snapshots</id>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <url>http://smartweb.nazwa.pl:8080/repository/snapshots</url>
		</pluginRepository>
	</pluginRepositories>
    </profile>
  </profiles>

  
  <activeProfiles>
    <activeProfile>smartweb</activeProfile>
  </activeProfiles>
</settings>